/*
    Created on : Jun 1, 2014, 9:11:42 PM
    Author     : vuongabc92
*/

/** ========== COMMON CLASS ==========
----------------------------------------------------------------------*/
/* Full width */
._fw{width: 100%;}
/* Max width 970px */
._mw970{max-width: 970px;}
/* Max width 970px */
._w970{width: 970px;}
/* Half width */
._w50{width: 50%;}
/* Float left */
._fl{float: left;}
/* Float right */
._fr{float: right;}
/* Full width and float left */
._fwfl{width:100%;float:left;}
/* Full width and float right */
._fwfr{width:100%;float:right;}
/* Full height */
._fh{height: 100%;}
/* Full height and float left */
._fhfl{height: 100%;float: left;}
/* Full height and float right */
._fhfr{height: 100%;float: right;}
/* Background of icon */
._icon{}
/* Radius 1px */
._r0{border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;-ms-border-radius: 0;-o-border-radius: 0;}
._r1{border-radius: 1px;-webkit-border-radius: 1px;-moz-border-radius: 1px;-ms-border-radius: 1px;-o-border-radius: 1px;}
/* Radius 2px */
._r2{border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;}
/* Radius 2px */
._r3{border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;}
/* Radius 2px */
._r4{border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;}
/* Radius 2px */
._r5{border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;}
/* radius 50% width */
._r50{border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;}
/* text color #007aff */
._tb{color: #007aff;}
/* text color white */
._tw{color: #fff}
/* Text color is gray #555 */
._tg{color: #555;}
._tg1{color: #777;}
/* Text align center */
._tc{text-align: center;}
/* Text align left */
._tl{text-align: left;}
/* Text align right */
._tr{text-align: right;}
/* background color white */
._bgw{background-color: #fff;}
/* background color blue */
._bgb{background-color: #007aff;}
/* background color red  */
._bgr{background-color: #f77;}
/* background color red 1 */
._bgr1{background-color: #f66;}
/* background color red 2 */
._bgr2{background-color: #f55;}
/* background color red 3 */
._bgr2{background-color: #f44;}
/* background green success */
._bgs{background-color: #5cb85c;}
/* background yellow warning*/
._bgwr{background-color: #f0ad4e;}
/* background opacity */
._bgop{background-color: rgba(3, 3, 3, 0.27);}
/* Margin 0px */
._m0{margin: 0;}
._ma{margin:0 auto;}
/* Padding 0px */
._p0{padding: 0;}
/* Text decoration is none */
._td_i{text-decoration: none !important;}
/* Text decoration is none and !important */
._td{text-decoration: none;}
/* Display block */
._db{display: block;}
/* Display none */
._dn{display: none;}
/* Boder solid 1px #333 */
._b1{border:solid 1px #ccc;}
/* Border none */
._b0{border: none;}
/* Outline none */
._o0{outline: none;}
/* Border none and outline none and background transparent (form control)*/
._ff0{border: none;outline: none;background: transparent;}
/* Other font */
._of{font-family: small arial,sans-serif;}
/* Font weight bold */
._fwb{font-weight: bold;}
/* Font weight normal */
._fwn{font-weight: normal;}
/* Font size 11px */
._fs11{font-size: 11px;}
/* Font size 12px */
._fs12{font-size: 12px;}
/* Font size 13px */
._fs13{font-size: 13px;}
/* Font size 14px */
._fs14{font-size: 14px;}
/* Font size 15px */
._fs15{font-size: 15px;}
/* Font size 16px */
._fs16{font-size: 16px;}
/* Font size 17px */
._fs17{font-size: 17px;}
/* Font size 18px */
._fs18{font-size: 18px;}
/* Font size 19px */
._fs19{font-size: 19px;}
/* Font size 20px */
._fs20{font-size: 20px;}
/* List style none */
._lsn{list-style: none;}
/* List style none, padding:0,margin:0 */
._ls{list-style: none;padding: 0;margin: 0;}
/* Position */
._pa{position: absolute;}
._pr{position: relative;}
/* Box shadow */
._sd{-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
     box-shadow: 0 1px 2px rgba(0,0,0,0.07);-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.07);}
._popsd{-webkit-box-shadow: 0 0 1px 1px #f3f3f3;-moz-box-shadow: 0 0 1px 1px #f3f3f3;-ms-box-shadow: 0 0 1px 1px #f3f3f3;
-o-box-shadow: 0 0 1px 1px #f3f3f3;}
/* Text transform */
._uc{text-transform:uppercase;}
._lc{text-transform:lowercase;}
._cap{text-transform:capitalize;}
/* Cursor */
._cp{cursor: pointer;}
._cd{cursor: default;}
/* clear */
._cb{clear: both;}
._cl{clear: left;}
._cr{clear: right;}
/* Button */
/* blue */
._btnb{background-color: #007aff;color: #fff;}
._btnb:hover{opacity: 0.8;color: #fff;}
._btnb:active{background-color: #0971E3;opacity: 1;}
/* red */
._btnr{background-color: #f66;color: #fff;}
._btnr:hover{opacity: 0.8;color: #fff;}
._btnr:active{background-color: #f55;opacity: 1;}
/* Margin 5 */
._mt5{margin: 5px 0 0 0;}
._mr5{margin: 0 5px 0 0;}
._mb5{margin: 0 0 5px 0;}
._ml5{margin: 0 0 0 5px;}

body{font-family:'lucida grande',tahoma,verdana,arial,sans-serif;background-color:#f5f8fa;}

/* ========================================================================== */

/* Auth */
.auth{max-width:380px;margin:100px auto;}
.auth-inside{}
.auth-space{padding:15px;}
.auth-content{max-width:280px;margin:20px auto;}
.auth-welcome{margin:20px 0;}
.auth-form{}
.auth-field{height:40px;border:solid 2px #ddd;padding:5px 10px;margin-top:15px;}
.auth-field:hover{border-color:#ccc;}
.auth-field:focus{border-color:#007aff;}
.auth-remember{margin-top:15px;}
.auth-remember-checkbox{}
.auth-remember-txt{margin:0 0 0 5px;font-weight:normal !important;}
.auth-btn{height:40px;border:none;}
.auth-footer{margin-top:30px;height:70px;border-top:solid 1px #ddd;}
.auth-foot-nav{line-height:69px}
.auth-foot-nav:hover{color:#f77;}
.auth-foot-nav-left{border-right:solid 1px #ddd;}
.auth-errors{padding:20px;}
.auth-success{background-color:#5cb85c;padding:20px;}

/* Profile page style */

/** Header */
.header{height:50px;border-bottom:solid 1px #007aff;position:fixed;padding:0 15px;}
.header-inside{}
.header-content{}
.header-left{width:140px;}
.header-right{width:830px;}
.header-right-inside{height:34px;margin-top:7px;}
.search-block{width:630px;}
.form-search{width:450px;}
.input-header-search{height:34px;padding:0 10px;border:solid 1px #ddd;outline:none;}
.input-header-search:focus{border-color:#007aff;}
.btn-search-header{width:30px;height:32px;margin:1px 0 0 -32px;background-color:#fff;border:none;outline:none;}
.header-location{height:34px;width:120px;line-height:34px;margin-left:10px;}

/* BODY */
.body{margin-top:50px;}
.profile-header{height:320px;border:solid 1px #007aff;border-top:none;}
.cover-block{height:260px;border-bottom:solid 1px #007aff;}
.profile-nav-bar{height:60px;}
.profile-content{margin:10px 0 0 0;}
.product-container{}
.product-tree{}
.product-tree>li{width:310px;float:left;margin:0 20px 20px 0;}
.product-tree>li._product-no-margin-right{margin-right:0;}
._product{height:400px;border:solid 1px #007aff}