<div class="_fwfl">
    {% set errorMessages = app.session.flashbag.get('error') %}
    {% if errorMessages|length > 0 %}
        <div class="_fwfl _bgr _tw _tc _fwb _fs13 auth-errors">
            {% for flashMessage in errorMessages %}
                <i class="fa fa-remove"></i> {{ flashMessage }}
            {% endfor %}
        </div>
    {% endif %}

    {% set successMessages = app.session.flashbag.get('success') %}
    {% if successMessages|length > 0 %}
    <div class="_fwfl _tw _tc _fwb _fs13 auth-success">
        {% for flashMessage in successMessages %}
            <i class="fa fa-check"></i> {{ flashMessage }}
        {% endfor %}
    </div>
    {% endif %}
</div>